html {
    font-size: 24px;
    background-color: mintcream;
    padding-top: 100px;
}

.newspaper {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name {
    font-family: 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.date {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
}

.headline {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.sub-headline {
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 15px;
}

.author {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text {
    text-indent: 20px;
    line-height: 2em;
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 15px;
}


.text::first-letter {
    font-weight: bold;
    font-size: 2em;
}