body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-list li {
    background-color: #e5f1e5;
    padding: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: aqua;
}

a:focus {
    color: pink;
    outline: 2px solid yellow
}