* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

.blog-post-card {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.post-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-bottom: 2px solid black;
}

.post-content {
    padding: 20px;
}

.post-title {
    color: #333;
    margin-bottom: 10px;
}


.post-excerpt {
    color: #667;
    margin: 10px 0;
}

.read-more {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #555;
}