*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#b3e6ff, #b3e6ff 60%, green 60%);
    height: 100vh;
}

#house {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #ff9980;
    border: 6px solid #b35900;
}

#chimney {
    height: 100px;
    width: 90px;
    background: repeating-linear-gradient(#e6e6e6,
            #e6e6e6 10%, black 10%, black 12%);
    border: 1px solid black;
    position: absolute;
    left: 65%;
    top: -100px;
    z-index: -1;
}

#smoke {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: -20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 -10px 10px 20px rgba(0, 0, 0, 0.3);
    border: none;
}

#roof {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    border: 2px;
    background: repeating-linear-gradient(45deg,
            #b35900,
            #b35900 2%,
            transparent 2%,
            transparent 5%), repeating-linear-gradient(-45deg,
            #b35900,
            #b35900 2%,
            #ff9980 2%,
            #ff9980 5%)
}

#window-1,
#window-2 {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right,
            #ffffb3 0%,
            #ffffb3 48%,
            #b35900 48%,
            #b35900 52%,
            #ffffb3 52%,
            #ffffb3 100%);
    border: 6px solid #b35900;
    position: absolute;
    top: 40%;
}

#window-1 {
    left: 7.5%;
}

#window-2 {
    right: 7.5%;
}

#door {
    width: 120px;
    height: 180px;
    position: absolute;
    bottom: 0%;
    left: 40%;
    border: 6px solid #b35900;
    background-color: #e6e6e6;
    transform: translateY(6px);
}

#welcome {
    font-family: sans-serif;
    font-weight: bold;
    width: 130px;
    height: 40px;
    background-color: #85e085;
    border: 2px solid black;
    transform: skew(-20deg);
    position: absolute;
    bottom: -47px;
    left: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
}